body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image:linear-gradient(#1c307a, #8829aa);
}

header {
    background-color: #1c307a;
}

h1 {
    margin: auto;
    text-align: center;   
}

main {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 15% repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image:linear-gradient(#7f0fa7, #9a77a7);
    height: calc(100vh - 90px);
    border-radius: 1%;
}

.sidebar {
    position: absolute;
    
    color: rgb(251, 250, 253);
    transition: 0.5s;
    width: 3%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    font-size: 30px;
    padding-left: 1%;
    padding-top: 20px;
    
}

.sidebar:hover {
    width: 15%;
}

.ico-home, .ico-cale, .ico-cada, .ico-conf {
    padding-top: 20px;
}

.sair {
    margin-top: auto;
    padding-bottom: 10px;
}


i {
    cursor: pointer;
}


a {
    text-decoration: none;
    color: white;
}

p {
    padding-left: 5px;
    display: none;
    font-size: 15px;
}

.pag-main {
    display: block;
}

.sidebar:hover p {
    gap: 8px;
    display: inline;
}
.maincont {
    place-items: start start;
    grid-area: 1/2/-1/-1;
    height: 100%;
}

footer {
    grid-area: 5/1/-1/-1;
    height: 25px;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}