body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
}

header {
    border: 3px solid blue;
}

h1 {
    margin: auto;
    text-align: center;
    
}

main {
}

.sidebar {
    position: absolute;
    background-color: rgb(70, 26, 172);
    color: rgb(181, 176, 199);
    transition: 0.4s;
    width: 60px;
}

.sidebar:hover {
    width: 200px;
}

.maincont {
    margin-left: 60px;
}

footer {
}